/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" 400;
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

/* Ниже стили для шапки */

.header {
  font-family: var(--accent-font), fantasy;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  width: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
  max-height: 368px;
  margin: 102px auto 104px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.header__title {
  text-align: center;
  padding-block-start: 136px;
  padding-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__description {
  text-align: center;
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
  gap: 8px;
  padding-bottom: 25px;
}

.theme-menu__item {
  padding-left: clamp(9.625rem, 15.117vw + 6.082rem, 19.688rem);
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  padding: 0;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: "▶";
  height: 14px;
  width: 14px;
  padding-right: 2px;
  position: absolute;
  left: -21px;
  animation: flight 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  display: block;  
  height: 2px;
  width: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  }

.theme-menu__button:focus-visible::after { 
transform: scaleX(1);
transform-origin: left;
transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible {
  outline: none;
  border: none;
  opacity: 0.6;
}


/* Ниже стили для карты */

.card {
  width: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
  margin: auto;
  margin-bottom: 53px;
  background-color: var(--background-color);
  outline: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 18px;
  font-style: normal;
  font-variation-settings: "wght" 700;
  line-height: normal;
  padding: 3px 24px 5px 10px;
  outline: 2px solid var(--accent-color);
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-top: 27px;
  padding-bottom: 25px;
}

.card__description__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding-left: 25px;
  padding-right: 25px;
}

.card__image {
  width: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
  height: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
  object-fit: cover;
  object-position: 96% 43%;
  outline: 2px solid var(--accent-color);
}

.image-1 {
  filter: grayscale(30%);
  -webkit-filter: grayscale(30%);
  -moz-filter: grayscale(30%);
}

.image-2 {
  filter: grayscale(30%);
  -webkit-filter: grayscale(30%);
  -moz-filter: grayscale(30%);
}

.image-3 {
  object-fit: cover;
  object-position: 60% 0%;
  filter: saturate(132%);
  -webkit-filter: saturate(132%);
  -moz-filter: saturate(132%);
}

.image-4 {
  filter: blur(2px) contrast(118%);
  -webkit-filter: blur(2px) contrast(118%);
  -moz-filter: blur(2px) contrast(118%);
}

.image-5 {
  filter: sepia(40%);
  -webkit-filter: sepia(40%);
  -moz-filter: sepia(40%);
}

.image-6 {
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
}

.image-7 {
  filter: sepia(40%);
  -webkit-filter: sepia(40%);
  -moz-filter: sepia(40%);
}

.image-8 {
  filter: sepia(40%);
  -webkit-filter: sepia(40%);
  -moz-filter: sepia(40%);
}

.card__content {
  position: relative;
}

.card__image__mark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 
     0 0 2px var(--shadow-color); 
}

@supports((text-stroke: 1px var(--shadow-color)) or (-webkit-text-stroke: 1px var(--shadow-color))) {
  .card__image__mark {
      -webkit-text-stroke: 1px var(--shadow-color);
      text-stroke: 1px var(--shadow-color);
      text-shadow: none;
  }
} 

.card__buttons {
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 12.6px */
  color: var(--accent-color);
}

.card__icon-button {
  align-self: center;
  padding: 0;
  height: 34px;
  width: 43px;
  background: none;
  border: none;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: none;
  outline: 2px solid var(--accent-color);
  transition: outline 0.3s ease;
}

.heart-icon {
  width: 27px;
  height: 24px;
}

.sparks {
  opacity: 0;
}

.core {
  opacity: 0;
  transition: opacity 0.3s linear 0.03s;
}

.main-body {
  opacity: 0;
}

.card__icon-button:hover .main-body {
  opacity: 100;
  transition: opacity 0.3s linear 0.05s;
}

.card__icon-button:hover .core {
  opacity: 100;
  transition: opacity 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--heart-sparks-color);
  opacity: 100;
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: var(--heart-sparks-color);
  opacity: 100;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  opacity: 100;
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  opacity: 100;
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s alternate ease-in;
}

.like-icon.is-liked {
  animation: scale 0.3s 0.1s alternate ease-in;
}

.card__like-button {
  width: 130px;
  height: 38px;
  background: none;
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button::before {
  content: '';
  width: 130px;
  height: 38px;
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button__text {
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

/* Стили для Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__button {
  width: 335px;
  height: 51px;
  margin-bottom: 105px;
  color: var(--accent-color);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  position: relative;
  cursor: pointer;
}

.footer__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.footer__button__text {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  text-wrap: nowrap;
  align-items: center;
}

.diskette-icon {
  max-width: 21px;
  max-height: 21px;
}

.footer__button::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  z-index: 0;
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.footer__button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  
}

.dialog[open] {
  padding: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

.dialog__text {
  width: 293px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  color: var(--accent-color);
}

.dialog__button {
  width: 293px;
  height: 38px;
  border: 2px solid var(--accent-color);
  align-self: center;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 12.6px */
  text-transform: uppercase; 
  cursor: pointer;
  color: var(--button-text-color);
  background-color: var(--background-color);
}

.dialog__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.dialog__form {
  position: relative;
}

.dialog__button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  background-color: var(--accent-color);
}

.dialog__button-text {
mix-blend-mode: difference;
}

.dialog__button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.diskette-icon-dialog {
 max-width: 39px;
 max-height: 39px;
}


@media (width <= 375px) {
  /* Стили для Header */
  .header__title {
    padding-block-start: 120px;
  }

/* Стили для карт */
/* Решаю проблему с переносом слов ниже, чтобы соответствовало макету */

  .card__description__text {
    padding-right: 30px;
  }
  
  .second-card-description {
    padding-right: 3px;
  }

  .card__image__mark {
    right: 11px; 
  }
  /* Стили для Footer */

  .footer__button {
    width: 306px;
    height: 80px;
  }

  .footer__button__text {
    flex-direction: column;
  }

  .diskette-icon {
    align-self: center;
    width: 28px;
    height: 28px;
  }

  .dialog {
    padding: 30px 40px;
    overflow: hidden;
  }

  .dialog__button {
    max-width: 257px;
    margin: auto;
  }
}

