/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    /* Переменные для шрифтов */
    --main-font: 'Inter-Variable';
    --main-font-weight: 400;
    --accent-font: 'PressStart2P-Regular';
    /* Переменные для цветов */
    --backround-color: #FFF;
    --accent-color: #000;
}
